HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
src/main/resources/secret.yaml


### MAC
.DS_Store

### 기타 파일
### 공용 파일 아니라서 일단 추가
docker-compose.yaml


# Oracle Wallet
Wallet_*/
*.sso
*.p12
*.jks
*.pem
sqlnet.ora
tnsnames.ora
